html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  background-color: #f2efea; }

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #2d3047; }

a {
  color: inherit;
  text-decoration: none; }

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto; }

.section {
  padding: 40px 0; }
  @media (min-width: 767px) {
    .section {
      padding: 80px 0; } }

main {
  min-height: calc(100vh - 50px - 500px); }

/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.navbar {
  background-color: #1b1d2e;
  height: 50px; }
  .navbar-container {
    display: flex;
    height: 100%; }
  .navbar-menu {
    display: flex;
    flex-grow: 0;
    margin-left: auto;
    margin-right: -1rem; }
  .navbar-menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .navbar-menuLink {
    color: #cecece;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.4px;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    .navbar-menuLink:hover, .navbar-menuLink--active {
      color: #fff; }

.footer {
  background-color: #1b1d2e;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #ececec;
  padding: 80px 20px; }
  @media (min-width: 767px) {
    .footer {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  @media (min-width: 767px) {
    .footer {
      padding: 40px 20px;
      height: 500px; } }
  .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%; }
    @media (min-width: 767px) {
      .footer-container {
        flex-direction: row; } }
  .footer-top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%; }
    @media (min-width: 767px) {
      .footer-top {
        flex-direction: row; } }
  .footer-about {
    text-align: center; }
    @media (min-width: 767px) {
      .footer-about {
        text-align: left; } }
  .footer-aboutTitleImg {
    max-height: 60px;
    height: auto;
    margin-bottom: 10px; }
  .footer-aboutDescription {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem; }
    @media (min-width: 767px) {
      .footer-aboutDescription {
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.75rem; } }
  .footer-socialMenu {
    margin: 20px; }
    @media (min-width: 767px) {
      .footer-socialMenu {
        margin-left: auto; } }
  .footer-socialMenuItem {
    padding: 15px 0; }
  .footer-socialLink {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #ececec;
    display: flex;
    align-items: center; }
    @media (min-width: 767px) {
      .footer-socialLink {
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.75rem; } }
  .footer-socialLinkIcon {
    width: 40px;
    margin-right: 20px; }
  .footer-flag {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding-top: 20px; }
    @media (min-width: 767px) {
      .footer-flag {
        margin-left: auto; } }
  .footer-bottom {
    margin-top: auto;
    width: 100%; }

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px; }
  @media (min-width: 992px) {
    .about-header {
      padding-top: 60px;
      flex-direction: row;
      justify-content: space-around; } }

.about-titleWrapper {
  margin-bottom: 40px;
  margin-right: 20px;
  text-align: center;
  flex-shrink: 0; }
  @media (min-width: 992px) {
    .about-titleWrapper {
      flex-basis: 450px;
      text-align: left;
      margin-bottom: 0;
      justify-content: space-around; } }

.about-title {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 3rem;
  border-bottom: 3px solid #e0a458;
  display: inline; }
  @media (min-width: 767px) {
    .about-title {
      font-size: 2.5rem;
      letter-spacing: 1px;
      line-height: 3.5rem; } }
  @media (min-width: 992px) {
    .about-title {
      font-size: 3rem;
      line-height: 4rem; } }

.about-imageWrapper {
  width: 400px;
  max-width: 100%; }
  @media (min-width: 992px) {
    .about-imageWrapper {
      width: 500px; } }

.about-description {
  padding: 0 20px 60px;
  text-align: justify;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem; }
  @media (min-width: 767px) {
    .about-description {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  @media (min-width: 767px) {
    .about-description {
      text-align: left; } }
  .about-description h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem; }
    @media (min-width: 767px) {
      .about-description h2 {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }

.developerGroups {
  background-color: #2d3047;
  color: #ececec;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem; }
  @media (min-width: 767px) {
    .developerGroups {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  .developerGroups h2 {
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem;
    margin-bottom: 40px; }
    @media (min-width: 767px) {
      .developerGroups h2 {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }
  .developerGroups ul li {
    margin-bottom: 20px; }
  .developerGroups a {
    border-bottom: 2px solid #e0a458;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out; }
    .developerGroups a:hover {
      background-color: #e0a458; }

.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -20px; }

.galleryList-item {
  width: 350px;
  margin-bottom: 20px; }

.organizers {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem; }
  @media (min-width: 767px) {
    .organizers {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  .organizers-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem; }
    @media (min-width: 767px) {
      .organizers-title {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }
    @media (min-width: 767px) {
      .organizers-title {
        margin-bottom: 80px; } }
  .organizers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .organizers-listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; }
  .organizers-listItemImage {
    margin-bottom: 20px;
    border-radius: 3px;
    height: 200px; }
    @media (min-width: 767px) {
      .organizers-listItemImage {
        height: 300px; } }
  .organizers-listItemName {
    font-weight: 400; }

.header {
  height: 450px;
  background-color: #2d3047; }
  @media (min-width: 992px) {
    .header {
      height: 575px; } }
  .header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (min-width: 767px) {
      .header-container {
        flex-direction: row;
        justify-content: space-around; } }
  .header-image {
    height: 150px;
    margin-bottom: 30px; }
    @media (min-width: 767px) {
      .header-image {
        height: 200px;
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      .header-image {
        height: 300px; } }
  .header-tagline {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 3rem;
    color: #ececec;
    width: 400px;
    text-align: center;
    cursor: default; }
    @media (min-width: 767px) {
      .header-tagline {
        font-size: 2.5rem;
        letter-spacing: 1px;
        line-height: 3.5rem; } }
    @media (min-width: 992px) {
      .header-tagline {
        font-size: 3rem;
        line-height: 4rem; } }
    @media (min-width: 767px) {
      .header-tagline {
        flex-basis: 430px;
        text-align: left;
        width: 50%;
        align-items: flex-start; } }
    @media (min-width: 992px) {
      .header-tagline {
        flex-basis: 500px; } }
  .header-taglinePart {
    display: inline;
    border-bottom: 3px solid #e0a458; }

.upcomingMeetup {
  color: #2d3047;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem; }
  @media (min-width: 767px) {
    .upcomingMeetup {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  .upcomingMeetup-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .upcomingMeetup-title {
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem;
    margin-bottom: 30px; }
    @media (min-width: 767px) {
      .upcomingMeetup-title {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }
  .upcomingMeetup-detail {
    text-align: center; }
    .upcomingMeetup-detail--date {
      margin-bottom: 10px; }
  .upcomingMeetup-detailLabel {
    font-weight: 400; }
  .upcomingMeetup-presenters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0; }
  .upcomingMeetup-presenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
    padding: 20px;
    border: 3px solid rgba(224, 164, 88, 0.2);
    margin: 20px; }
  .upcomingMeetup-presenterImage {
    height: 130px;
    border-radius: 100px;
    margin-bottom: 10px; }
  .upcomingMeetup-presenterName {
    font-weight: 400;
    margin-bottom: 5px; }
  .upcomingMeetup-presenterPresentationTitle {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 5px; }
    @media (min-width: 767px) {
      .upcomingMeetup-presenterPresentationTitle {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }
  .upcomingMeetup-presenterDescription {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem; }
    @media (min-width: 767px) {
      .upcomingMeetup-presenterDescription {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }
  .upcomingMeetup-mapWrapper {
    position: relative;
    height: 450px;
    width: 100%; }
  .upcomingMeetup-mapNote {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem; }
    @media (min-width: 767px) {
      .upcomingMeetup-mapNote {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }

.ctaBlock {
  position: relative;
  color: #ececec; }
  @media (min-width: 992px) {
    .ctaBlock {
      height: 300px;
      font-weight: 300;
      font-size: 1rem;
      letter-spacing: 0.5px;
      line-height: 1.5rem; } }
  @media (min-width: 992px) and (min-width: 767px) {
    .ctaBlock {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  .ctaBlock-pattern {
    display: flex;
    position: relative; }
    @media (min-width: 992px) {
      .ctaBlock-pattern {
        position: absolute;
        align-items: flex-end;
        -webkit-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.3, 1);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.3, 1); } }
    .ctaBlock-pattern--first {
      background-color: #419d78; }
      @media (min-width: 992px) {
        .ctaBlock-pattern--first {
          justify-content: flex-end;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%; } }
    .ctaBlock-pattern--second {
      background-color: #2d3047; }
      @media (min-width: 992px) {
        .ctaBlock-pattern--second {
          bottom: 0;
          right: 0;
          width: 50%;
          height: 100%; } }
    .ctaBlock-pattern:hover {
      z-index: 10;
      box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25); }
  .ctaBlock-container {
    height: 100%;
    position: relative; }
  .ctaBlock-cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    height: 200px; }
    @media (min-width: 992px) {
      .ctaBlock-cta {
        position: absolute;
        height: unset;
        width: 100vw / 2; } }
    @media (min-width: 1200px) {
      .ctaBlock-cta {
        width: 600px; } }
  .ctaBlock-ctaHeading {
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem; }
    @media (min-width: 767px) {
      .ctaBlock-ctaHeading {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }
  .ctaBlock-ctaDescription {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem; }
    @media (min-width: 767px) {
      .ctaBlock-ctaDescription {
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.75rem; } }
    @media (min-width: 992px) {
      .ctaBlock-ctaDescription {
        margin-bottom: 40px; } }

.pastMeetups-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -40px; }
  @media (min-width: 992px) {
    .pastMeetups-container {
      padding: 80px 20px; } }

.pastMeetups-title {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 3rem;
  border-bottom: 3px solid #e0a458;
  margin-bottom: 20px;
  text-align: center;
  align-self: center; }
  @media (min-width: 767px) {
    .pastMeetups-title {
      font-size: 2.5rem;
      letter-spacing: 1px;
      line-height: 3.5rem; } }
  @media (min-width: 992px) {
    .pastMeetups-title {
      font-size: 3rem;
      line-height: 4rem; } }
  @media (min-width: 992px) {
    .pastMeetups-title {
      margin-bottom: 40px; } }

.pastMeetups-description {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  width: 900px;
  max-width: 100%;
  margin: 0 auto 20px; }
  @media (min-width: 767px) {
    .pastMeetups-description {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }

.pastMeetups-meetup {
  margin: 40px 0; }

.meetup {
  border: 3px solid rgba(224, 164, 88, 0.2);
  padding: 10px;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem; }
  @media (min-width: 767px) {
    .meetup {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }
  @media (min-width: 992px) {
    .meetup {
      padding: 40px;
      flex-direction: row; } }
  .meetup-title {
    font-weight: 400;
    font-size: 1.75rem;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 20px; }
    @media (min-width: 767px) {
      .meetup-title {
        font-size: 2.25rem;
        letter-spacing: 1.2px;
        line-height: 3.75rem; } }
  .meetup-label {
    font-weight: 400; }
  .meetup-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .meetup-meta {
        flex-direction: row; } }
  .meetup-metaField {
    margin: 0 20px;
    text-align: center; }
    .meetup-metaField--date {
      margin-bottom: 10px; }
      @media (min-width: 992px) {
        .meetup-metaField--date {
          margin-bottom: 0; } }
  .meetup-presenters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -10px; }
    @media (min-width: 992px) {
      .meetup-presenters {
        margin-bottom: 0x;
        margin: 0 -20px; } }
  .meetup-presenter {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px; }
    @media (min-width: 992px) {
      .meetup-presenter {
        flex-basis: 50%;
        padding: 0 20px; } }
  .meetup-presenterImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-right: 20px;
    flex-basis: 100px; }
    @media (min-width: 992px) {
      .meetup-presenterImageContainer {
        margin-right: 20px; } }
  .meetup-presenterInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .meetup-presenterTitle {
    font-weight: 400;
    margin-bottom: 10px; }
  .meetup-presenterImage {
    height: 100px;
    border-radius: calc(100px / 2);
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .meetup-presenterImage {
        height: 100px;
        border-radius: calc(100px / 2);
        margin-bottom: 20px; } }
  .meetup-presenterName {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem;
    font-weight: 400;
    text-align: center;
    word-break: break-word; }
    @media (min-width: 767px) {
      .meetup-presenterName {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }
  .meetup-presenterText {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem; }
    @media (min-width: 767px) {
      .meetup-presenterText {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }
  .meetup-presenterLinks {
    margin-top: 5px; }
  .meetup-presenterLinkItem {
    margin-bottom: 5px; }
  .meetup-presenterLink {
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.4px;
    line-height: 1.4rem;
    border-bottom: 2px solid #e0a458;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    font-weight: 400; }
    @media (min-width: 767px) {
      .meetup-presenterLink {
        font-size: 1rem;
        letter-spacing: 0.5px;
        line-height: 1.5rem; } }
    .meetup-presenterLink:hover {
      background-color: #e0a458; }

.pastMeetups-container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -40px; }
  @media (min-width: 992px) {
    .pastMeetups-container {
      padding: 80px 20px; } }

.pastMeetups-title {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 3rem;
  border-bottom: 3px solid #e0a458;
  margin-bottom: 20px;
  text-align: center;
  align-self: center; }
  @media (min-width: 767px) {
    .pastMeetups-title {
      font-size: 2.5rem;
      letter-spacing: 1px;
      line-height: 3.5rem; } }
  @media (min-width: 992px) {
    .pastMeetups-title {
      font-size: 3rem;
      line-height: 4rem; } }
  @media (min-width: 992px) {
    .pastMeetups-title {
      margin-bottom: 40px; } }

.pastMeetups-description {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  width: 900px;
  max-width: 100%;
  margin: 0 auto 20px; }
  @media (min-width: 767px) {
    .pastMeetups-description {
      font-size: 1.25rem;
      letter-spacing: 1px;
      line-height: 1.75rem; } }

.pastMeetups-meetup {
  margin: 20px 0; }
  @media (min-width: 992px) {
    .pastMeetups-meetup {
      margin-bottom: 40px; } }


/*# sourceMappingURL=cms.css.map*/